<footer class="footer-section">
  <div class="container">
    <div class="footer-text-cont">
      <div class="footer-text-p1">
        <span class="footer-text">© 2021 | All Rights Reserved |&nbsp;</span>
      </div>
      <div class="footer-text-p2">
        <span> Developed with </span>
        <svg width="14" height="13" class="icon-heart">
          <use href="./images/svg/favorite.svg#favorite"></use>
        </svg>
        <span> by </span>
        <span> <a class="footer-link footer-js-open-modal" href="#"> IT Band </a> </span>
      </div>
    </div>
   <!-- Верстка команды -->
  <div class="backdrop footer-js-backdrop">
    <div class="footer-modal">
      <h2 class="team-title">IT BAND</h2>
        <ul class="footer-team-members"></ul>
        <button class="team-btn-close footer-js-team-close" type="button" title="Close">
        <svg class="footer-icon-close">
    <use href="./images/svg/close-icon.svg#close"></use>
</svg>
        </button>
    </div>
  </div>
</div>
</footer>
