<header class="header_library">
  <div class="container">
    <nav class="header__library-nav">
      <a href="" class="header__logo">
        <svg class="header__logo-svg">
          <use href="./images/svg/film.svg#film"></use>
        </svg>
        <h1 class="header__name-logo">Filmoteka</h1>
      </a>
      <ul class="header__nav-list">
        <li>
          <a href="" class="header__nav-link ">Home</a>
        </li>
        <li>
          <a href="" class="header__nav-link current_page">my library</a>
        </li>
      </ul>
    </nav>
    <div>
        <ul class="header__library-btnList">
            <li><button class="btn-main">Watched</button></li>
            <li><button class="btn-main">queue</button></li>
        </ul>
    </div>
  </div>
</header>