<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="" class="header__logo">
        <svg class="header__logo-svg">
          <use href="./images/svg/film.svg#film"></use>
        </svg>
        <h1 class="header__name-logo">Filmoteka</h1>
      </a>
      <ul class="header__nav-list">
        <li>
          <a href="" class="header__nav-link current_page">Home</a>
        </li>
        <li>
          <a href="" class="header__nav-link">my library</a>
        </li>
      </ul>
    </nav>
  </div>
</header>