<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="" class="header__logo">
        <svg class="header__logo-svg">
          <use href="./images/svg/film.svg#film"></use>
        </svg>
        <h1 class="header__name-logo">Filmoteka</h1>
      </a>
      <ul class="header__nav-list">
        <li>
          <button class="header__nav-link current_page" id="headerHomeBtn">Home</button>
        </li>
        <li>
          <button class="header__nav-link" id="headerLibraryBtn">my library</button>
        </li>
      </ul>
    </nav>
    <div class="header__home-content">
      <form action="" class="header__form">
        <input type="text" placeholder="Поиск фильмов" class="header__form-input" />
        <svg class="header__form-img">
          <use href="./images/svg/search 2.svg#search 2"></use>
        </svg>
      </form>
      <div class="header__error js-header__error">
        <p class="header__error-text is-hidden">
          Search result not successful. Enter the correct movie name and try again.
        </p>
      </div>
    </div>
    <div class="header__library-content header__content-hide">
      <ul class="header__library-btnList">
        <li><button class="btn btn-main" id="btn__header-watched">Watched</button></li>
        <li><button class="btn btn-main" id="btn__header-queue">queue</button></li>
      </ul>
    </div>
  </div>
</header>
