<div class="container pagination">
  <div id="counter">
    <ul class="pag_list" id="list">
      <li class="pag_item first_page pag_item__current" id="l1"><span class="pag_text" id="s1">1</span></li>
      <li class="pag_item pag_item-dots is-hidden" data-dots="left"><span class="pag_text">...</span></li>
      <li class="pag_item" id="l2"><span class="pag_text" id="s2">2</span></li>
      <li class="pag_item" id="l3"><span class="pag_text" id="s3">3</span></li>
      <li class="pag_item" id="l4"><span class="pag_text" id="s4">4</span></li>
      <li class="pag_item pag_item-dots" data-dots="rigth"><span class="pag_text">...</span></li>
      <li class="pag_item last_page" id="l5"><span class="pag_text" id="s5">100</span></li>
    </ul>
  </div>
</div>
