@media screen and (min-width: 320px) {
  .footer-section {
    display: block;
    background-color: #f7f7f7;
  }
  .footer-text-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 29px;
    padding-bottom: 28px;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #545454;
  }

  .footer-text {
    text-align: center;
  }
  .footer-text-p1 {
    margin-bottom: 10px;
  }
  .footer-link {
    text-decoration: underline;
    color: inherit;
  }
  .icon-heart {
    margin-left: 10px;
    margin-right: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  // команда
  .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);

    body.show-footer-modal & {
      opacity: 1;
      visibility: visible;
      pointer-events: initial;
    }
  }

  // Модалка
  .footer-modal {
    position: absolute;
    left: 0;
    top: 0;
    height: 50%hw;
    width: 320px;
    width: 100%;
    padding: 40px;
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    min-height: 320px;
    text-align: center;

    background-color: #fff;
  }

  .team-btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    color: white;
    border: none;
    background-color: white;
  }
 .footer-icon-close {
   width: 30px;
   height: 30px;
   filter: drop-shadow(0 0 7px rgba(255, 107, 8, 0.7));
 }
 .footer-icon-close:hover,
 .footer-icon-close:focus {
   filter: drop-shadow(0 0 4px black);
 }

  .team-members {
    display: flex(center, stretch);
    flex-wrap: wrap;
    margin: -5px;
  }

  .member {
    margin: 5px;
    display: flex();
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
  }
}

.member-link {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;

  cursor: pointer;
  & img {
    margin: 0;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    margin-left: -25px;

    box-shadow: -18px 0 20px -20px #333, 18px 0 20px -20px #333;

    justify-content: space-between;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  &::after {
    content: ' ';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    top: 115px;
    left: 85px;
    background-image: url('../images/team-picture/octocat.png');
    background-size: 80%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.team-title {
  display: inline-block;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--accent-color);
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
}

.footer-team-members {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.team-role {
  margin-top: 10px;
  color: rgb(23, 24, 23);
  font-style: oblique;
  font-size: 12px;
}

.teammate {
  margin-top: 50px;
  color: rgb(23, 24, 23);
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.team-words {
  margin-top: 10px;
  color: #545454;
  font-style: oblique;
  font-weight: bold;
  line-height: 2;
  font-size: 16px;
}
.member {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.member-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
  }

  .footer-modal {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 768px;
    width: 100%;
  }

  .footer-text-cont {
    display: flex;
    flex-direction: inherit;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 29px;
  }

  .footer-text-p1 {
    margin-bottom: 0px;
    margin-top: 2px;
  }

  .member {
    width: calc(100% / 2 - 10px);
  }

  .team-role {
    font-size: 14px;
  }

  .teammate {
    font-size: 16px;
  }

  .team-words {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-modal {
    max-width: 1024px;
    width: 100%;
  }

  .member {
    width: calc(100% / 3 - 10px);
  }

  .member-info {
    padding-bottom: 50 px;
  }
}
.team-image {
  transition: transform 0.2s linear;
}
.team-image:hover,
.team-image:focus {
  transform: scale(1.1);
  box-shadow:4px 3px 12px -1px rgba(255, 107, 8, 0.5);
}

