.header_library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mobile/header_library.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 230px;
  //   max-width: 320px;
}

// // ======================Duplicate======


// .header__logo {
//   position: absolute;
//   top: 48px;
// }

// .header__logo-svg {
//   color: var(--logo-svg-color);
//   margin-right: 10px;

//   width: 24px;
//   height: 24px;
// }

// .header__name-logo {
//   display: none;
// }

// .header__nav-list {
//   font-family: 'Roboto', sans-serif;
//   font-size: 12px;
//   line-height: 14px;

//   display: flex;
//   justify-content: flex-end;
//   list-style: none;

//   & li:first-child {
//     margin-right: 39px;
//   }
// }

// .header__nav-link {
//   text-transform: uppercase;
//   text-decoration: none;

//   color: var(--main-color);
//   font-family: 'Roboto' sans-serif;
//   font-style: 500;
//   line-height: 14px;
// }

// .current_page {
//   border-bottom: 3px solid #ff6b08;
// }

// // ======================Duplicate======
.header__library-nav {
  padding-top: 58px;
  margin-bottom: 49px;
}


.header__library-btnList {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header__name-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    color: var(--main-color);

    display: inline-block;
  }
  .header_library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet/header_library.png);
  }
  .header__library-btnList {
      justify-content: center;

      & li:first-child {
    margin-right: 15px;
  }
  }
  

}

@media screen and (min-width: 1024px) {
  .header_library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desktop/header_library.png);
  }
}
