.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mobile/header_main.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 230px;
  font-family: 'Roboto' sans-serif;
}

.header__nav {
  padding-top: 58px;
  margin-bottom: 41px;
}

.header__logo {
  position: absolute;
  top: 48px;
}

.header__logo-svg {
  color: var(--logo-svg-color);
  margin-right: 10px;

  width: 24px;
  height: 24px;
}

.header__name-logo {
  display: none;
}

.header__nav-list {
  font-family: 'Roboto' sans-serif;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  justify-content: flex-end;
  list-style: none;

  & li:first-child {
    margin-right: 39px;
  }
}

.header__nav-link {
  text-transform: uppercase;
  text-decoration: none;

  background-color: inherit;
  border: none;
  padding: 0;

  cursor: pointer;
  font-family: 'Roboto';
  color: var(--main-color);
  line-height: 14px;
}

.current_page {
  border-bottom: 3px solid #ff6b08;
}

.header__form {
  width: 280px;
  height: 20px;
  position: relative;

  display: flex;
  align-items: center;

  margin-bottom: 22px;
}

.header__form-input {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  color: var(--main-color);
  padding: 4px 0;

  &::placeholder {
    color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
}

.header__form-img {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
}

.header__error-text {
  color: var(--error-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  transition: 0.5s linear;
  &.is-hidden {
    opacity: 0;
    visibility: none;
    transition: 0.6s linear;
  }
}

.header__content-hide {
  display: none;
}

// ===============library styles===========
.header_library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/mobile/header_library.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 230px;
}

.header__library-nav {
  padding-top: 58px;
  margin-bottom: 49px;
}

.header__library-btnList {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet/header_main.png);
    .container {
      padding-left: 71px;
      padding-right: 76px;
    }
  }

  .header__name-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    color: var(--main-color);

    display: inline-block;
  }

  .header__form {
    width: 336px;
    margin: 0 auto 22px;
  }

  .header__error {
    text-align: center;
  }

  .header_library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/tablet/header_library.png);
  }
  .header__library-btnList {
    justify-content: center;

    & li:first-child {
      margin-right: 15px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desktop/header_main.png);
  }

  .header_library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/desktop/header_library.png);
  }
}
