.basicLightbox--visible,
.basicLightbox--iframe {
  overflow-y: scroll;
}

.modal {
  width: 280px;
  height: 100%;
}

.modal-close-btn,
.card-delete-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 10px;
}

.card {
  position: relative;
}

.card-delete-btn {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  &:hover {
    background-color: rgba(255, 107, 8, 0.8);
    transform: scale(1.3);
  }
}

.card-delete-btn.is-hidden {
  display: none;
}

.icon-bin {
  display: inline-block;
  padding: 5px;
  fill: #000;
}

.modal-category-accent {
  background-color: var(--accent-color);
  color: var(--main-color);

  display: inline-block;
  width: 36px;
  height: 16px;
  margin-right: 3px;

  border-radius: 5px;
  text-align: center;
}

.modal-category-accent.details-category-value {
  background-color: var(--footer-bg-color);
  margin-left: 3px;
}

.modal {
  position: relative;

  width: 280px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.667;

  padding: 48px 20px 41px 20px;

  background-color: var(--main-color);
  border-radius: 5px;
}

.modal-card-img {
  width: 240px;
  height: 356px;

  margin-bottom: 30px;

  display: block;
  border-radius: 5px;
}

.modal-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.15;

  margin-bottom: 20px;
}

.modal-details-list {
  margin-bottom: 20px;
}

.modal-details-item {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.3;
}

.modal-details-item:not(:last-child) {
  margin-bottom: 10px;
}

.modal-details-category {
  display: inline-block;
  min-width: 72px;
  margin-right: 40px;

  color: var(--secondary-color);
}

.item-vote {
  color: var(--secondary-color);
}

.item-vote .details-category-value {
  color: var(--primary-color);
}

.modal-trailer-wraper {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--accent-color);

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  border: 2px solid var(--accent-color);
  border-radius: 20px;

  padding: 5px 8px;
  margin-bottom: 20px;
  cursor: pointer;

  transition: 0.3s linear;
}

.modal-trailer-wraper:hover,
.modal-trailer-wraper:focus {
  transform: scale(1.1);

  color: var(--main-color);
  background-color: var(--accent-color);

  .modal-play-svg {
    fill: var(--main-color);
  }
}

.modal-play-svg {
  margin: 0 3px;
  fill: var(--accent-color);
  transition: 0.3s linear;
}
.modal-play-svg:hover,
.modal-play-svg:focus {
  fill: var(--main-color);
}
.modal-film-about {
  font-size: 12px;
  line-height: 1.667;

  text-transform: uppercase;

  margin-bottom: 10px;
}

.modal-overview-about {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.7;

  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .modal {
    margin-top: 400px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    display: flex;

    width: 618px;
    padding: 42px 28px 40px 30px;
  }

  .modal-img-wrap {
    margin-right: 32px;
  }

  .modal-card-img {
    display: block;

    width: 264px;
    height: 374px;

    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    display: flex;

    width: 882px;
    height: 568px;
    padding: 50px 30px 40px;
  }

  .modal-card-img {
    width: 350px;
    height: 478px;
    margin-bottom: 40px;
  }

  .modal-title {
    font-size: 30px;
    line-height: 1.17;
  }

  .modal-details-category {
    margin-right: 85px;
  }
}

.modal-btn-wrapper {
  display: flex;
}
